<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Part 4</title>
  <link rel="stylesheet" href="../../css/app.css">

  <style>
    .cell {
      padding: 10px;
    }

    h3 {
      text-align: center;
    }

    h4 {
      text-align: center;
      text-transform: uppercase;
    }
  </style>
</head>

<body>

  <div class="grid-x grid-container">
    <a style="padding: 10px 0;" href="../../index.html">Вернуться на предыдущую страницу</a>
  </div>

  <div class="grid-x grid-container wrap-place">
    <div class="cell large-12">

      <label for="workplace">
        <h3>Поле поддержки вложенности скобок:</h3>
      </label>
      <textarea id="workplace" cols="30" rows="10" placeholder="Введите здесь комбинацию скобок"></textarea>

    </div>
    <div class="cell large-12">
      <h4 id="look">Обработчик поля ввода</h4>
    </div>
  </div>

  <script src="../../js/foundation/jquery.min.js"></script>
  <script src="../../js/foundation/what-input.min.js"></script>
  <script src="../../js/foundation/foundation.min.js"></script>
  <script src="../../js/app_part4.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>