@mixin items-styles {

  .item > h4 {
    margin: 10px 0;

    &:hover {
      cursor: pointer;
    }
  }

  .item > h5 {
    float: right;
    font-weight: bold;
    margin: 8px 20px 0 0;
  }

  .item {

    button {
      float: right;
      margin: 0;
    }
  }
}

@mixin button-edit-name-title {
  background-color: $white;

  > button {
    background-color: $color-3;

    &:hover {
      background-color: $color-2;
    }

    &:active,
    &:focus {
      background-color: $color-3;
    }
  }
}

.wrap-items {
  @include align-center-middle-ie;
  @include size(100%, 650px);
  background-color: $white;
  overflow: hidden;
  padding: 0 0 50px;
  position: absolute;
}

.item {

  @media screen and (min-width: 1024px) {
    padding: 0 10px 0 0;
  }
}

// View blocks
.block {

  @include items-styles;
}

// Edit form for element name with block mode
.block > section > .item > form {

  @include button-edit-name-title;
  @include size(100%, 95px);
  margin: 0 0 10px;
  position: relative;

  > button {
    width: 100%;
  }
}

// View tables
.table {

  h4 {

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1024px) {

    img {
      height: 100px;
      min-width: 150px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-weight: bold;
      max-width: 120px;
      padding: 0 10px 0 0;
      text-align: right;
    }
  }

  @media screen and (max-width: 1024px) {

    @include items-styles;

    .item {

      h5 {
        display: contents;
      }
    }
  }
}

// Edit form for element name with table mode
.table > section > .item > form {

  @media screen and (min-width: 1024px) {

    @include button-edit-name-title;
    margin: 0 0 0 -230px;
    position: relative;

    > button {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    @include button-edit-name-title;
    @include size(100%, 95px);
    margin: 0 0 10px;
    position: relative;
  }
}
